html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  padding: 5rem;
}

.container {
height: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 2rem;
margin-top: 5rem;
}

.pseudo-item:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.pseudo-item1:hover {
  box-shadow: inset 0 0 100px 100px rgb(141, 201, 234);
}


section {
  width: 100%;
}

.outer-wrapper {
  max-width: 100vw;
  overflow-x: scroll;
  position: relative;
  scrollbar-color: #d5ac68 #f1db9d;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.outer-wrapper::-webkit-scrollbar {
  height: 5px;
}

.inner-wrapper {
  display: flex;
  padding-bottom: 10px;
}

.pseudo-item {
  height: 400px;
  width: 369px;
  margin-right: 5rem;
  flex-shrink: 0;
  background-color: rgb(109, 184, 228);
}

.pseudo-item1 {
  height: 400px;
  width: 369px;
  margin-right: 5rem;
  flex-shrink: 0;
  background-color: rgb(175, 213, 234);
}


@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

.text {
  font-family: 'Gochi Hand', cursive;
  text-align: left;
}
/* Importing 5 different Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Kaushan+Script&family=Lobster&family=Major+Mono+Display&family=Ranchers&display=swap');


.change-text {
  font-size: 30pt;
  color: #3483eb;
  animation-name: fontChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  letter-spacing: 0.3rem;
}

@keyframes fontChange {
  0% {
    font-family: 'Ranchers', cursive;
  }
  30% {
    font-family: 'Kaushan Script', cursive;
  }
  60% {
    font-family: 'Lobster', cursive;
  }
  90% {
    font-family: 'Bitter', serif;
  }
  
}