*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    font-family: "Nunito Sans", sans-serif;
  }
  

.box-scroll {
  display: flex;
  flex-wrap: nowrap;
  width: 110%;
  overflow: auto;
  cursor: pointer;
  margin-left: -5rem;
  /* Hiddem scroll bar */
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.box-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  margin-right: 0rem;
}


img {
  display: block;
}

p {
  padding: 0 10px;
  text-align: center;
  color: black;
  font-weight: 1000;
}
  .team1 {
    position: relative;
    z-index: 1;
    padding: 0;
    height: 100vh;
    background-image :"url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701404480.jpg')";
    background-attachment: fixed;
    background-color: transparent;
  }
  .team1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701404480.jpg) center center;
    opacity: .6;
}
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .card{
    height: 100px;
    width: 280px;
    
}


  .heading {
    width: 100%;
    margin-top: 5rem;
    margin-left: -8rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
  }
  .heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
  }
  
  
  .card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    position: relative;
  }
.card:hover {
  transform: scale(1.08) rotate(-3deg);
}

  @media screen and (max-width: 800px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }
  
  .front,
  .back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
  }
  
  .front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
  }
  .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
  }
  .card:hover .front {
    transform: rotateY(180deg);
  }
  
  .card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }
  
  .back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
  }
  .back .button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
  }
  .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  .card:hover .back {
    transform: rotateY(0deg);
  }
  .card:nth-child(even) .back {
    transform: rotateY(180deg);
  }
  .card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }
  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .card:nth-child(even):hover .back {
    transform: rotateY(0deg);
  }
  
  .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }
  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  .button:hover {
    transform: translateZ(55px);
  }
  .button:hover:before {
    transform: translateZ(-55px);
  }
  .button:active {
    transform: translateZ(20px);
  }
  .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }

  .link-2 {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: rgb(28, 27, 27);
    padding: 0 1px;
    transition: color ease 0.3s;
    width: 8.5%;
    margin-top: 5rem;
    font-weight: 900;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 2;

    margin-bottom: 1rem;
    align-content: left;
    margin-right: 60rem;
 }
  .link-2::before, .link-2::after {
    content: '';
    position: absolute;
    background-color: #d9e961;
    z-index: -1;
    height: 5%;
 }
  .link-2::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
 }
  .link-2::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
 }
  .link-2:hover::before {
    width: 100%;
 }
  .link-2:hover::after {
    left: 100%;
    width: 0%;
    transition: all ease 0.2s;
 }
  